/* using celebrityTitle (roseTitle) celebrity id, style the title tag by
    changing text color to blue and centering the text */
    #roseTitle{
        color: royalblue;
        text-align: center;
    }

/* below is an example of styling by tag  */
table,
th,
td {
  /* style table, th and td tabs with background color of light green, 
    and style the border 1px border width, solid, with color of black */
    background-color: lightseagreen;
    border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#rosePic,
#roseVideo {
  /* set height and width according to style judgement, I personally set the height
    to 500px and the width to 400px, because my picture and video look best at that size */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height:315px;
}

/* when styling by class, use period then class name as selector, as seen below */
.classHidden {
  display: block;
}

#link {
  /* center the text */
}

.date {
  /* center the text */
text-align: center;
}

.centerClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* change background color of body to light blue */
  /* Set bottom margin to 100px */
  background-color: lightblue;
  margin: 0px 0px 100px 0px;
}

footer {
  /* Position should be fixed
    Set the left edge position to 0
    Set the right edge position to 0
    Set top and bottom padding to 15px
    Set width to 100 percent
    Background color should be white
    Text color should be black
    All footer text should be aligned to center */
    position:  15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;

}

/*Animation*/

.fadeInUp{
    font-size: 5rem;
  animation-duration: 5s;
}

